<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<html>
    <head>
        <link href="{{ styling['font_file'] }}" rel="stylesheet">
        <style type="text/css">
            h1, h2, h3, h4, h5, h6 {
                font-family: '{{ styling['font_name'] }}' !important;
            }
            p, div {
                font-family: '{{ styling['font_name'] }}' !important;
            }
            body {
                background-color: {{ styling['primary_bg_color'] }};
            }
        </style>
    </head>
    <div class='text-center'>
        <h1 style="font-size:150px; margin: 200px; color:{{ styling['primary_font_color'] }}; font-weight: bold;">Enter email(s) to receive pix<br>separate with ;</h1>
        <form style="font-size:96px;" action="{{ url_for('send_email') }}" method="post">
            <input type="text" name="email" autofocus="autofocus">
            <input type="submit" class="btn btn-default" style="font-size:86px; font-weight: bold;">
        </form>
        <div id="container" class='text-center' style="">
            <div><button type="button" class="btn btn-default" style="font-size:96px; font-weight: bold;" onclick="window.location.href = '/idle';">Skip</button></div>
        </div>
        <!-- <h4 style="font-size:48px; color:white">wait like 4 seconds after clicking submit</h4> -->
    </div>
</html>
