<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<html>
    <head>
        <link href="{{ styling['font_file'] }}" rel="stylesheet">
        <style type="text/css">
            h1, h2, h3, h4, h5, h6 {
                font-family: '{{ styling['font_name'] }}' !important;
            }
            p, div {
                font-family: '{{ styling['font_name'] }}' !important;
            }
            body {
                background-color: {{ styling['primary_bg_color'] }};
            }
        </style>
    </head>
    <body onkeypress="window.location.href = '/capture'";>
        <div class="text-center" style="margin: 100px;"><h1 style="font-size: 150px;font-weight: bold; color:{{ styling['primary_font_color'] }};">{{ event_name }}</h1><div>
        <div class="text-center" style="margin: 100px;"><h2 style="font-size: 110px;font-weight: bold; color:{{ styling['secondary_font_color'] }};">Photobooth</h2><div>
        <div id="container" class='text-center' style="margin: 300px">
            <div><button type="button" class="btn btn-default" style="font-size:96px; font-weight: bold;" onclick="window.location.href = '/capture';">Start</button></div>
        </div>
        <div class="text-center" style="margin: 100px;"><h2 style="font-size: 70px;font-weight: bold; color:{{ styling['primary_font_color'] }};">or press space key</h2><div>
    </body>
</html>
